# .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.DotSettings.user

# EF Core
**/Migrations/Snapshot/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# Env / Secrets
*.env
*.env.local
appsettings.Local.json
appsettings.Secrets.json

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# IDE
.idea/
